<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Author List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
    </tr>
    <tr th:each ="author : ${authors}">
        <td th:text="${author.id}"></td>
        <td th:text="${author.firstname}">Apring in action</td>
        <td th:text="${author.lastname}">test</td>
    </tr>
</table>
<a href="/books">Books</a>
</body>
</html>